*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


/* body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url('/public/images/cursor.png') no-repeat center center / contain;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10000;
  transition: transform 0.1s ease;
} */

.custom-cursor.hovered {
  transform: translate(-50%, -50%) scale(1.3);
}



.phone-input input[type="tel"] {
  padding-left: 50px;
  height: 44px;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.react-tel-input .form-control {
  width: 100%;
  height: 48px;
  font-size: 16px;
  padding-left: 50px;
  border-radius: 6px;
}

/* faq */

.faq-container {
  padding: 60px 20px;
  text-align: center;
}

.faq-heading {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 80px;
}

.faq-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  color: #003C82;
}

.faq-image-box {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  max-width: 300px;
}

.faq-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 370px;
}

.faq-accordion {
  max-width: 480px;
  width: 100%;
  text-align: left;
}

.faq-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq-item.active {
  border-color: #003C82;
  background-color: #f9f9f9;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.faq-icon {
  font-size: 24px;
  font-weight: bold;
  color: #003C82;
}

.faq-answer {
  margin-top: 12px;
  font-size: 14px;
  color: #444;
}



/* blogs */


.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card img {
  transition: transform 0.5s ease;
  width: 100%;
  height: auto;
  display: block;
}

.card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.card:hover h5 {
  cursor: pointer;
  color: #0629a7;
}


/* White sweeping light effect */
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: skewX(-25deg);
  z-index: 2;
}

/* Animate light sweep on hover */
.card:hover::before {
  animation: sweep 0.75s ease;
  cursor: pointer;
}

@keyframes sweep {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@media (min-width: 370px) and (max-width: 490px) {

  .main-contact p{
    padding: 0 !important;
  }

  .contact-form{
    margin-top: 0px !important;
  }

  .getintouch{
    padding: 10px !important;
  }

  .getintouch h2{
    font-size: 35px !important;
  }

  .getintouch p{
    font-size: 20px !important;
    
  }

  .getintouch-form{
    width: 95% !important;
    margin: auto !important;
  }

  .contact-details{
    padding: 0 !important;
  }

  .contact-details h2{
    font-size: 25px !important;
    padding: 30px !important;
    margin: 0px !important;
  }

  .contact-details-call{
    margin-top: 20px !important;
    padding-left: 10px !important;
  }

  .location-title{
    margin-top: 0px !important;
  }
  .faq-heading{
    margin-top: 10px !important;
  }

}

@media (min-width: 765px) and (max-width:900px) {

  .main-contact p{
    padding: 10px !important;
    font-size: 40px !important;
  }

  .contact-form{
    margin-top: 0px !important;
  }

  .getintouch{
    padding: 10px !important;
  }

  .getintouch h2{
    font-size: 35px !important;
  }

  .getintouch p{
    font-size: 20px !important;
    
  }

  .getintouch-form{
    width: 95% !important;
    margin: auto !important;
  }



}
